@{
    Layout = ViewBag.Page.LayoutHref;
    Identity Identity = new Identity();
    ViewBag.isAuthentication = Identity.isAuthentication;
    ViewBag.Identity = Identity;
    string ViewScriptHref = ((string)ViewBag.Page.ViewScriptHref).Replace("~", "");
    string ViewStyleHref = ((string)ViewBag.Page.ViewStyleMinHref).Replace("~", "");
}

<input id="JS" value="@ViewScriptHref" />
<input id="CSS" value="@ViewStyleHref" />
@model NW.BL.DTO.QuestDTO
<div class="miniMap" id="miniMap"></div>

<input id="IdQuest" value="@Model.Id" style="display: none" />
<input id="Creater" value="@Model.Creater" style="display: none" />
<input id="IdUser" value="@Identity.user.Id" style="display: none" />

<div class="Messages">
    <div class="Message Left Standart">
        Добро пожаловать в квест
        "@Model.Name"
    </div>
    <div class="Message Left Standart">
        ВНИМАНИЕ! Покидать страницу с квестом не желательно! Иначе в игру Вы уже не попадете. Спасибо)
    </div>
    <div class="Message Left Standart">
        Итак, начинаем
    </div>
</div>

<form action="javascript: SendAnswer(); " class="MessageInputBlock hidden">
    <input type="text" name="message" class="MessageInput" />
    <button type="submit" class="ButtonMessage">Отправить</button>
</form>

<div id="Template" style="display: none">
    <div class="Message AddTask" data-id="0" data-userid="0">
        <div class="Title hidden"><span class="Name"></span> <span class="Date"></span></div>
        <div class="Block">
            <div class="Task">Задание: <span></span></div>
            <div class="Answer hidden">Следующий адрес: <span></span></div>
            <div class="UserAnswer hidden">Ответ: <span></span></div>
        </div>
        <div class="Creator hidden">
            <button type="button" onclick="SendAnswer(this)" value="true">ВЕРНО</button>
            <button type="button" onclick="SendAnswer(this)" value="false">НЕВЕРНО</button>
        </div>
    </div>
    <div class="Message User" data-userid="0">
        <div class="Title Add">Добавлен новый пользователь: <span></span></div>
        <div class="Title Delete">Отсоединился пользователь: <span></span></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    <script src="/Resources/JS/Quest/SignalR.js"></script>

    <script type="text/javascript">
        var Data = {},
            Messages = null;

        $(function () {
            Messages = $(".InfoBlock .Messages");

            Data.Answer = $("#Template .Message.AddTask").clone();
            Data.User = $("#Template .Message.User").clone();

            $("#Template").remove();
        });
    </script>
}